@tailwind base;
@tailwind components;
@tailwind utilities;

/* hide scrollbar but keep scroll working */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
}

.active{
  color: white;
  background: linear-gradient(to left,#48e9cc,#5cbaf4) ;
}